<h1>Medical Centre Dublin</h1>
<br/>
<h2> Welcome to our website! </h2>
<br/>
<p> We are a Medical Centre Dublin with a wide range of professional medical services. We provide high quality treatment with individual
  approach. Our patients are cared at most of with kindness and competence, friendly and warm atmosphere is a priority on our  premises.
  The appointments are available for online booking and the waiting time is limited to a minimum. </p>
       <br/>
<%= image_tag("Doctor.jpg", :size => '600x262' ) %>

<br/>
