<h2>Our Appointment Hours and Prices</h2>
<br/>

<h1> The doctors are available for appointments according to the appointment schedule listed on our website.
The appointment can be booked online or by calling 01 22 11 111. </h1>
<br/>

<p>Our Medical Centre is open Monday to Friday. Should you need medical assistance outside of our opening hours please call on 01 33 11 111 (weekdays 6pm – 10pm and weekends & bank holidays 10am – 6pm) </p>
<br/>
<h1><b>Appointment price: 50 EUR</b> </h1>
<br/>
<p>Monday 9:00 - 15:00</p>
<p>Tuesday 9:00 - 15:00</p>
<p>Wednesday 9:00 - 15:00</p>
<p>Thursday 9:00 - 15:00</p>
<p>Friday 9:00 - 15:00</p>
<br/>
<br/>
<div id="address" >
<h1><b>Our Address:</b></h1>
<p> Dame Street 1, Dublin 2<br/>
  tel. 01  44 44 144, fax. 01 44 44 445<br />
 </div>

<br/>

<br/>
